body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
}

.header {
    margin-bottom: 20px;
}

.score-time {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

#timer, #score {
    background-color: #333;
    border-radius: 50%;
    padding: 20px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.instructions {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: inline-block;
}

.instructions ul {
    list-style-type: circle;
    text-align: left;
    padding-left: 20px;
}

.game-board {
    margin-bottom: 20px;
}

#keyboard {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

#writingBar{
    display:flex;
    justify-content: space-between;
    grid-column: 1/-1;
    color: aliceblue;
    padding: 20px;
    border-radius: 10px;
}

.writingBarSpaces{
    background-color: grey;
    height: 10px;
    padding: 20px;
}

.key {
    background-color: #00ffff;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
}

.control-btn {
    background-color: #ccc;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.control-btn:hover {
    background-color: #aaa;
}